* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
  font-size: 25;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; 
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#title-of-web {
   background-color: ;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: lightgrey;
}
.column1 {
  float: center;
  width: 100%;
  padding: 10px;
  height: 300px; 
}
- - - 
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   background-color: #444;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; 
}
#desc {
 color:grey;
}